* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ChampagneLimousines";
}
.none {
  display: none;
}
.container {
  max-width: 1200px;
  margin: auto;
}
li {
  list-style: none;
  margin-right: 43px;
}
a {
  text-decoration: none;
  color: black;
}
.header_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}

.nav_list {
  display: flex;
  padding-left: 0;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
.contact {
  margin-left: 68px;
}
.contact a {
  margin-left: 25px;
}

.seaction_bunner {
  width: 100%;
  height: 825px;
  background-image: url(../img/section/section-1/basic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
}
.section_title {
  padding-top: 230px;
  font-size: 55px;
  padding-bottom: 50px;
}
.seaction_bunner p {
  font-size: 29px;
  padding-bottom: 50px;
}
.btn {
  font-size: 20px;
  padding: 18px 28px;
  transition: color 0.3s ease;
}
.btn:hover {
  cursor: pointer;
  color: blue;
}
.section_line {
  height: 70px;
  background: #2d3538;
  margin-bottom: 100px;
}
.section_line p {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: #efd2c2;
  padding: 12px;
}
.foto_1 {
  position: relative;
}
.foto_1 p {
  position: absolute;
  top: 393px;
  left: 125px;
  font-size: 35px;
  text-align: center;
  color: #efd2c2;
}
